CompileFlags:
  Add: 
    - "-I./include"
    - "-I${KDIR}/include"
    - "-I${KDIR}/arch/${ARCH}/include"
    - "-D__KERNEL__"
    - "-DMODULE"
  Compiler: gcc

Index:
  StandardLibrary: No

Diagnostics:
  Suppress: 
    - "unknown-attributes"
    - "unknown-pragmas"
